<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>973731628199-daenbp91fignvnafkfcrfiirp5dmee1r.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.973731628199-daenbp91fignvnafkfcrfiirp5dmee1r</string>
	<key>API_KEY</key>
	<string>AIzaSyAG50I8lGfJ2KH-eD-_T-Mh-yli6dHdPkw</string>
	<key>GCM_SENDER_ID</key>
	<string>973731628199</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.bartekb.VocabIn</string>
	<key>PROJECT_ID</key>
	<string>vocabin-b61fe</string>
	<key>STORAGE_BUCKET</key>
	<string>vocabin-b61fe.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:973731628199:ios:6b2c041235cd6a8dbd4782</string>
</dict>
</plist>